.pictoTimeline {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px;

    width: 60px;
    height: 60px;

    box-shadow: 0px 0px 0px 4px #e3e3e3, 0px 3px 0px 4px rgba(0, 0, 0, 0.05),
        inset 0px 2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
}
#butInfo {
    background: #75cd65;
}
#thalesAleniaSpace {
    background: #6588cd;
}
#polytech img {
    mix-blend-mode: darken;
    width: 70%;
}
#tsn-group button {
    background: #242a76;
    color: white;
}
#polytech-group button {
    background: #009ee0;
    color: white;
}
#tas button {
    background: #6588cd;
    color: white;
}
#tsn {
    background: #242a76;
}
#but button {
    background: #75cd65;
    color: white;
}
#tsn img {
    padding-bottom: 10%;
}
.pictoTimeline img {
    width: 40px;
    height: 40px;
}
.desc {
    background-color: #f3f3f3;
    padding: 1em;
    height: 175px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
h2 {
    font-weight: bold;
}
button {
    /* Auto layout */
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15.5px 10px 15px;
    background: #d3d3d4;
    box-shadow: 0px 4px 4px rgba(28, 28, 33, 0.15);
    border-radius: 4px;
    border: none;
    float: right;
}

.timeline {
    position: relative;
    padding-top: 5em;
    width: 90%;
    height: 75vh;
    flex: 4;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    background: #d5d9e0;
}

.timeline-item {
    position: relative;
    margin: 30px 0;
}

.timeline-item:before,
.timeline-item:after {
    content: " ";
    display: table;
}

.timeline-item:after {
    clear: both;
}

.timeline-icon {
    position: absolute;
    left: 50%;
    margin-left: -30px; /* Half of the new icon size */
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border: 2px solid #d5d9e0;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-icon img {
    width: 80%;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 15px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.timeline h2 {
    font-family: "Rokkitt", Helvetica;
    font-weight: bold;
}
.timeline h3 {
    font-family: var(--paragraphes-font-family);
    font-weight: var(--paragraphes-font-weight);
    color: #000000;
    font-size: var(--paragraphes-font-size);
    letter-spacing: var(--paragraphes-letter-spacing);
    font-style: var(--paragraphes-font-style);
    line-height: var(--paragraphes-line-height);
}
.timeline-content h2,
.timeline-content h3 {
    margin: 0;
    padding: 0;
}
.timeline-content span.span {
    float: left;
    text-align: left;
    font-family: "Jost", sans-serif;
    width: 100%;
    display: none;
}
.timeline-item.active .span {
    display: block;
}
.timeline-item button svg {
    transition: transform 0.3s;
    fill: white;
}
.timeline-item.active button svg {
    transform: rotate(180deg);
}

.timeline-content button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #e0e4ed;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-size: 14px;
}

.timeline-content button:hover {
    background-color: #c2c8d6;
}

.timeline-item:nth-child(odd) .timeline-content {
    float: left;
    text-align: right;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
    text-align: left;
}
h2,
h3 {
    margin: 0;
    padding: 0.5em 0;
}

button {
    /* Your existing styles */
    margin-top: auto; /* Push it to the bottom */
}

/* To position the 'En savoir plus' to the right inside .desc */
.desc > button {
    align-self: flex-end;
}

/* Responsive adjustments if needed */
@media screen and (max-width: 768px) {
    .desc {
        /* Adjust styles for mobile view */
    }
    .mobile-hide {
        display: none;
    }
    .timeline {
        padding: 0;
    }
    .timeline:before {
        left: 98%;
    }
    .timeline-icon {
        left: 98%;
    }
    .timeline .timeline-item .timeline-content {
        float: left;
        text-align: right;
        width: 85%;
    }

    .timeline h2 {
        font-size: 1.4em;
    }
    .timeline h3 {
        font-size: 1em;
    }
}

@media screen and (min-width: 768px) {
    .timeline .timeline-item .timeline-content svg {
        display: none;
    }
}
