@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Roboto+Mono:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Rokkitt:wght@400;700&family=Work+Sans:wght@400;700&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 400;
}
html,
body {
  margin: 0px;
  width: 100vw;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Segoe UI-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/632d42142e19a92ebeed82db/fonts/segoe-ui.ttf")
    format("truetype");
}

:root {
  --logo-size: 45px;
}
